/* resets */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

div.guide {
  margin-left: 0.5em;
}

div#grid-parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2em, 1fr));
  gap: 1rem;
  padding: 1em;
}

div#sketch-parent {
  width: calc(100vw - 2em);
  height: calc(100vh - 16em);
  margin-left: 1em;
}

button {
  padding: 1em;
  border: 0.1em solid black;
  border-radius: 0.3rem;
}

button#save-data {
  background-color: rgb(255, 203, 203);
}
button#start-training {
  background-color: rgb(215, 255, 203);
}
button#save-model {
  background-color: rgb(203, 232, 255);
}
